name: Coverage Check

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  coverage-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Build and Test
        run: mvn clean test jacoco:report

      - name: Upload coverage report
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: "**/target/site/jacoco/jacoco.xml"
          name: ${{ runner.os }}
          flags: unittests